.App {
  text-align: left;
  margin: 5px;
}

header {
  background: url("./img/mainimage.png") no-repeat center center ;
  background-size: cover;
  height: 360px;
  margin-top: 0px;
  margin-left: 10px;
  overflow: auto;
}
#bottomHeader {
  position: absolute;
  top: 340px;
  left: 0;
  right: 0;
  height: 60px;
  color: rgb(77,72,64);
  background-color: rgba(238,222,133,0.8);
  box-shadow: 4px 4px 4px #888888;
  text-align: center;
  font-family: Muli, sans-serif;
  font-size: 20px;
}
#searchField{
  margin-left:70px;
  width: 30%;
  height: 40px;
  float: left; 
  border-radius: 25px;
}
#titleDestinations{
  color: rgb(77,72,64);
  margin: 5px;
  bottom: 0;
  text-align: center;
  font-family: Muli, sans-serif;
  line-height: 14px;
  
}
.title{
  color: rgb(77,72,64);
  text-align: left;
  font-family: HurmeGeometricSans4-SemiBold;
}
.grid{
  display:inline-block;
  overflow: auto;
  position: relative;
  width: 100%
}

.gridDiv{
  float: left;
  clear: both;
  width: 20%;
  position:relative;
  height: 80px;
  overflow: auto;
  box-shadow: 4px 4px 4px #888888;
  margin-left: auto; /* centrare imagini si margini egale */
  margin-right: auto;
  margin-top: 10px;
  border-radius: 12px;
  color: rgb(77,72,64);
  text-align: center;
  background-color: rgba(238,222,133,0.6);
  font-family: HurmeGeometricSans4-SemiBold;
  outline:none;
}


.gridDiv:hover {
  background-color: #7EC7D8;
  color: white;
  
}

